In [2]:
import pandas as pd

In [3]:
df_movie = pd.read_csv('movies.csv')

In [4]:
df_movie.shape

(62423, 3)

In [5]:
df_rating = pd.read_csv('ratings.csv')

In [6]:
df_rating.shape

(25000095, 4)

In [9]:
df_rating = df_rating.drop(columns='timestamp')

In [10]:
df_rating

          userId  movieId  rating
0              1      296     5.0
1              1      306     3.5
2              1      307     5.0
3              1      665     5.0
4              1      899     3.5
...          ...      ...     ...
25000090  162541    50872     4.5
25000091  162541    55768     2.5
25000092  162541    56176     2.0
25000093  162541    58559     4.0
25000094  162541    63876     5.0

[25000095 rows x 3 columns]

In [11]:
df_rating.to_csv('output.csv', index=False)