In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict

In [2]:
df_ratings = pd.read_csv('ratings_without_timestamp.csv')
df_movies = pd.read_csv('df_movies_final.csv')

In [3]:
df_ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [4]:
userIDs, itemIDs = set(), set()

movies = df_movies['movieId']
users = df_ratings['userId']

for item in movies:
    itemIDs.add(item)

for user in users:
    userIDs.add(user)

In [5]:
print(f'itemIDs: {len(itemIDs)}')
print(f'userIDs: {len(userIDs)}')

itemIDs: 62423
userIDs: 162541

In [6]:
movie_stats = df_ratings.groupby('movieId')['rating'].agg(['mean', 'median'])

In [7]:
movie_stats

             mean  median
movieId
1        3.893708     4.0
2        3.251527     3.0
3        3.142028     3.0
4        2.853547     3.0
5        3.058434     3.0
...           ...     ...
209157   1.500000     1.5
209159   3.000000     3.0
209163   4.500000     4.5
209169   3.000000     3.0
209171   3.000000     3.0

[59047 rows x 2 columns]

In [8]:
df_movies_with_score = df_movies.merge(movie_stats, on='movieId', how='left')

In [9]:
df_movies_with_score.isnull().sum()

movieId                  0
title                    0
year                     0
(no genres listed)       0
Action                   0
Adventure                0
Animation                0
Children                 0
Comedy                   0
Crime                    0
Documentary              0
Drama                    0
Fantasy                  0
Film-Noir                0
Horror                   0
IMAX                     0
Musical                  0
Mystery                  0
Romance                  0
Sci-Fi                   0
Thriller                 0
War                      0
Western                  0
mean                  3376
median                3376
dtype: int64

In [10]:
np.unique(df_movies_with_score['mean'])

array([0.5       , 0.58333333, 0.6       , ..., 4.83333333, 5.        ,
              nan])

In [11]:
ratingsTrain = allRatings_sub[:int(len(allRatings_sub)*0.6)]
ratingsValid = allRatings_sub[int(len(allRatings_sub)*0.6):int(len(allRatings_sub)*0.8)]
ratingsTest = allRatings_sub[int(len(allRatings_sub)*0.8):]

usersPerItem = defaultdict(set)
itemsPerUser = defaultdict(set)
ratingsPerUser = defaultdict(list)
ratingsPerItem = defaultdict(list)
ratingDict = {}
userID, itemID = set(), set()

for index, row in ratingsTrain.iterrows():
    user, item, rating = str(int(row[0])), str(int(row[1])), row[2]
    userID.add(user)
    itemID.add(item)

    ratingsPerUser[user].append((item,rating))
    ratingsPerItem[item].append((user,rating))
    usersPerItem[item].add(user)
    itemsPerUser[user].add(item)
    ratingDict[(user,item)] = rating

NameError: name 'allRatings_sub' is not defined